.git
.cache
.local
.idea
.vscode
node_modules
**/node_modules
**/dist
**/coverage
**/playwright-report
**/test-results
.env
.env.*
!.env.example
npm-debug.log
yarn-error.log
attached_assets
screenshots